# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]
*$py.class

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/

# Model
*.bin
*.pt
*.pth
save/

# Data
*.json
*.csv
*.txt
